
ggj-cof.xcodeproj/project.xcworkspace/xcuserdata/shingokko.xcuserdatad/UserInterfaceState.xcuserstate

ggj-cof.xcodeproj/xcuserdata/shingokko.xcuserdatad/xcschemes/ggj-cof.xcscheme

ggj-cof.xcodeproj/xcuserdata/shingokko.xcuserdatad/xcschemes/xcschememanagement.plist

ggj-cof.xcodeproj/project.xcworkspace/xcuserdata/shingokko.xcuserdatad/WorkspaceSettings.xcsettings
