<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>clubs.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 386}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diamonds.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 400}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 0}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {76, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{534, 94}, {76, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {76, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 376}, {76, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {76, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 468}, {76, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 96}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-back-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 96}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{282, 0}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 96}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 190}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {94, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{94, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 96}, {94, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-front-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 286}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 190}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 192}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 0}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {92, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 0}, {92, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {94, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{94, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 96}, {94, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-left-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {92, 92}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 190}, {92, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 48}, {18, 16}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{18, 16}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 304}, {18, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 42}, {18, 14}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{18, 14}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 322}, {18, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 43}, {10, 20}}</string>
			<key>spriteOffset</key>
			<string>{-9, -5}</string>
			<key>spriteSize</key>
			<string>{10, 20}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 380}, {10, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 42}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{288, 380}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 42}, {16, 14}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 370}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 468}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {10, 18}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{10, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 304}, {10, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 448}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 552}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 472}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 380}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 448}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-number-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 380}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 284}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {76, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{456, 0}, {76, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {78, 94}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{78, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 0}, {78, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 2}, {76, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 94}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 190}, {76, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 190}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>enemy-right-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 3}, {78, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{78, 92}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 96}, {78, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hearts.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 416}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{78, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 92}, {78, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {76, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{76, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 372}, {76, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {74, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{74, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 560}, {74, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {76, 88}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{76, 88}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{458, 286}, {76, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {78, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{78, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{614, 0}, {78, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-back-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {78, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{78, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 280}, {78, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 468}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 488}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 380}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 380}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 402}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-front-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 5}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 564}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 376}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 472}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 288}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 380}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 564}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-left-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 288}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{37, 48}, {18, 16}}</string>
			<key>spriteOffset</key>
			<string>{-2, -8}</string>
			<key>spriteSize</key>
			<string>{18, 16}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 286}, {18, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{31, 42}, {18, 14}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{18, 14}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 338}, {18, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 43}, {10, 20}}</string>
			<key>spriteOffset</key>
			<string>{-9, -5}</string>
			<key>spriteSize</key>
			<string>{10, 20}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 380}, {10, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 42}, {14, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -3}</string>
			<key>spriteSize</key>
			<string>{14, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{304, 380}, {14, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 42}, {16, 14}}</string>
			<key>spriteOffset</key>
			<string>{-8, -1}</string>
			<key>spriteSize</key>
			<string>{16, 14}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 354}, {16, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 532}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {10, 18}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{10, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{446, 284}, {10, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 380}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 420}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 492}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 512}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 468}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-number-9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 41}, {12, 18}}</string>
			<key>spriteOffset</key>
			<string>{-9, -2}</string>
			<key>spriteSize</key>
			<string>{12, 18}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 400}, {12, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{536, 188}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 284}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{7, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 564}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{164, 472}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 472}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hero-right-6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {80, 90}}</string>
			<key>spriteOffset</key>
			<string>{8, -3}</string>
			<key>spriteSize</key>
			<string>{80, 90}</string>
			<key>spriteSourceSize</key>
			<string>{96, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 494}, {80, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>spades.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 432}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>character-sprite</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>character-sprite</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>